#IOC API GATEWAY ENVIRONMENT VARIABLES
PORT=8080  

GRPC_CORE_ADDR=localhost:50051  
GRPC_CONNECT_TIMEOUT=5s  

REDIS_ADDR=localhost:6379  
REDIS_PASSWORD=   # IF YOU HAVE A PASSWORD SET
REDIS_DB=0

JWT_SECRET=my-super-secret-key-change-in-production  

ALLOWED_ORIGINS=*  

RATE_LIMIT_MAX_REQ=100
RATE_LIMIT_WINDOW_SEC=60

HTTP_READ_TIMEOUT=10s  
HTTP_WRITE_TIMEOUT=10s  
HTTP_IDLE_TIMEOUT=120s  
