APP_ENV=development # CHANGE THIS

DB_HOST=localhost # CHANGE THIS
DB_PORT=5432 # CHANGE THIS
DB_USERNAME=postgres # CHANGE THIS
DB_PASSWORD=postgres # CHANGE THIS
DB_DATABASE=ioc_enrichment_db # CHANGE THIS
DB_SSL_MODE=disable # CHANGE THIS

DB_MAX_OPEN_CONNS=100 # CHANGE THIS
DB_MAX_IDLE_CONNS=10 # CHANGE THIS
DB_CONN_MAX_LIFETIME=1h # CHANGE THIS
DB_CONN_MAX_IDLE_TIME=30m # CHANGE THIS
DB_CONNECT_TIMEOUT=10s # CHANGE THIS

REDIS_HOST=localhost # CHANGE THIS
REDIS_PORT=6379 # CHANGE THIS
REDIS_PASSWORD= # CHANGE THIS
REDIS_DB=0 # CHANGE THIS

REDIS_POOL_SIZE=100 # CHANGE THIS
REDIS_MIN_IDLE_CONNS=10 # CHANGE THIS
REDIS_MAX_RETRIES=3 # CHANGE THIS

REDIS_DIAL_TIMEOUT=5s # CHANGE THIS
REDIS_READ_TIMEOUT=3s # CHANGE THIS
REDIS_WRITE_TIMEOUT=3s # CHANGE THIS
REDIS_POOL_TIMEOUT=4s # CHANGE THIS
REDIS_IDLE_TIMEOUT=5m # CHANGE THIS
REDIS_MAX_CONN_AGE=0 # CHANGE THIS

REDIS_ENABLE_TLS=false
REDIS_TLS_SKIP_VERIFY=false

GRPC_HOST=0.0.0.0 # CHANGE THIS
GRPC_PORT=50051 # CHANGE THIS

ENRICH_SVC_ADDRESS=ti-enrichment:50052
ENRICH_SVC_TIMEOUT=30s # CHANGE THIS
ENRICH_SVC_MAX_RETRIES=3 # CHANGE THIS
ENRICH_SVC_ENABLE_RETRY=true # CHANGE THIS
ENRICH_SVC_CONNECT_TIMEOUT=5s # CHANGE THIS
ENRICH_SVC_KEEP_ALIVE=30s # CHANGE THIS
ENRICH_SVC_KEEP_ALIVE_TIMEOUT=20s # CHANGE THIS

CACHE_TTL = 1h # CHANGE THIS

ENABLE_CACHE = true # CHANGE THIS
ENABLE_ENRICHMENT_SVC = true # CHANGE THIS
